<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IVehicleService" />
                <binding name="BasicHttpBinding_IReservationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61525/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="UserServiceRef.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:61525/VehicleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehicleService"
                contract="VehicleServiceRef.IVehicleService" name="BasicHttpBinding_IVehicleService" />
            <endpoint address="http://localhost:61525/ReservationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservationService"
                contract="ReservationServiceRef.IReservationService" name="BasicHttpBinding_IReservationService" />
        </client>
    </system.serviceModel>
</configuration>